<p id="notice"><%= notice %></p>
<div>
  <p>
    <!-- <strong>Photo:</strong> -->
    <%= image_tag @product.image_url %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    GHC <%= @product.price %>
  </p>


  <%= link_to 'Edit', edit_product_path(@product), :class =>'button-1'%>
  &nbsp &nbsp
  <%= link_to 'Back', products_path, :class =>'button-1' %>
</div>

<% @comments.where(:product_id => @product.id).each do |c| %>
<%= c.comment %>
<%end%>

<%= render comment_show_comment_path %>