<!-- <p id="notice"><%= notice %></p> -->
<div class ="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag @product.image_url, :class=>"showimage" %>
        <div class="table-responsive">
          <div class="table">
            <tbody>
              <tr>
                <td><h2><%= @product.name %></h2></td>

              </tr>
              <br>
              <tr>

                <td><%= @product.description %></td>
              </tr>
              <br>
              <tr>
                <td><strong>Price:</strong</td>
                <td>GHC <%= @product.price %></td>
              </tr>
            </tbody>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div>




  <%= link_to 'Edit', edit_shop_product_path(@shop, @product), :class =>'button-1'%>
  &nbsp &nbsp
  <%= link_to 'Back', shop_path(@shop), :class =>'button-1' %>
</div>
<br>
<br><br><br><br>

<div class="alphacomm">
  <div class = "comm_container">
    <% @comments.each do |c| %>
    <div class="allcom"><%= c.comment %></div>
    <%end%>
  </div>

  <%= render 'show_comment' %>
</div>