<p id="notice"><%= notice %></p>
<div>
  <p>
    <!-- <strong>Photo:</strong> -->
    <%= image_tag @product.image_url %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    GHC <%= @product.price %>
  </p>
  


  <%= link_to 'Edit', edit_shop_product_path(@shop, @product), :class =>'button-1'%>
  &nbsp &nbsp
  <%= link_to 'Back', shop_path(@shop), :class =>'button-1' %>
</div>
<br>
<br><br><br><br>

<div class="alphacomm">
  <div class = "comm_container">
    <% @comments.each do |c| %>
    <div class="allcom"><%= c.comment %></div>
    <%end%>
  </div>

  <%= render 'show_comment' %>
</div>